# Arquivos e pastas gerados pelo Parcel
.parcel-cache
dist/
.cache-loader/
.cache-loader-2/

# Arquivos de ambiente e dependências
.env
node_modules/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Outros arquivos temporários ou de compilação
*.log
*.log.*
*.swp
*~